.language-selector {
    display: flex; 
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
  }
  
  .globe-icon {
    font-size: 18px;
    margin-right: 8px;
  }
  
  .language-dropdown {
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Hide default Google Translate bar */
  /* #google_translate_element {
    display: none;
  } */
  